.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: white !important;
}

.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root {
    color: blue;
}

.css-dl436e-MuiButtonBase-root-MuiButton-root {
    margin-right: 35px !important;
}